<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.green.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.green.vo.CommentVO" alias="commentVO"/>
		<typeAlias type="com.green.vo.ManagerVO" alias="managerVO"/>
		<typeAlias type="com.green.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.green.vo.ChargeVO" alias="chargeVO"/>
		<typeAlias type="com.green.vo.ProductVO" alias="productVO"/>
		<typeAlias type="com.green.vo.CustomerVO" alias="customerVO"/>
	</typeAliases>
</configuration>
